resource lun01 {
    protocol C;

    on stor-svc-01 {
        device    /dev/drbd3;
        disk      /dev/vg_storage/lv_iscsi_lun01;
        address   192.0.2.10:7792;
        meta-disk /dev/vg_storage/lv_lun01_meta[0];
    }

    on stor-svc-02 {
        device    /dev/drbd3;
        disk      /dev/vg_storage/lv_iscsi_lun01;
        address   192.0.2.20:7792;
        meta-disk /dev/vg_storage/lv_lun01_meta[0];
    }

    net {
        fencing resource-and-stonith;
    }
    handlers {
        fence-peer "/usr/lib/drbd/crm-fence-peer.9.sh --timeout 300 --dc-timeout 330";
        unfence-peer "/usr/lib/drbd/crm-unfence-peer.9.sh";
    }
}
