[Unit]
Description=Run source-manifest daily

[Timer]
OnBootSec=5min
OnUnitActiveSec=24h
Unit=source-manifest.service

[Install]
WantedBy=timers.target
